---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import imgHero from "../assets/images/hero.jpg";

import PocketBase from "pocketbase";
import Cards from "../components/Cards.astro";
const pb = new PocketBase("http://127.0.0.1:8090");
const artistes = await pb.collection("artistes").getList(1, 4, {
	filter: "tete = true",
	expand: "scenes",
});
// const artistes = await pb.collection("artistes").getFullList({
// 	filter: "tete = true",
// 	sort: "date",
// });

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section class="relative">
		<Image
			src={imgHero}
			alt=""
			class="w-full h-screen object-cover"
		/>

		<div
			class="absolute inset-0 bottom-52 flex flex-col gap-5 justify-center items-center px-6 text-white"
		>
			<p class="text-sm font-serif tracking-wide mb-2 text-center">
				Du 28 au 31 août 2025
			</p>

			<h1 class="font-cursive text-6xl lg:text-6xl mb-4 text-center">
				Chorus Symphonia
			</h1>

			<p class="font-serif text-lg text-center">
				"Chorus Symphonia, fais résonner la Franche-Comté."
			</p>
		</div>
	</section>

	<div class="grille">
		{artistes.items.map((artiste) => <Cards artiste={artiste} />)}
	</div>

	<section class="flex flex-col justify-center items-center mt-20">
		<p class="font-sans text-xl lg:text-2xl text-center">
			Le rendez-vous incontournable de la filière musicale au cœur de la
			ville de Besançon dans sa citadelle
		</p>
		<div class="flex gap-5 lg:gap-30 uppercase mt-15 font-sans">
			<div class="flex flex-col items-center">
				<div
					class="flex justify-center items-center text-2xl w-16 h-16 lg:text-7xl border border-light1 lg:h-25 lg:w-25 bg-dark mb-5"
				>
					<p class="text-center font-serif">4</p>
				</div>
				<span class="text-light1 lg:text-2xl">Jours</span>
			</div>
			<div class="flex flex-col items-center">
				<div
					class="flex justify-center items-center text-2xl w-16 h-16 lg:text-7xl border border-light1 lg:h-25 lg:w-25 bg-dark mb-5"
				>
					<p class="text-center font-serif">8</p>
				</div>
				<span class="text-light1 lg:text-2xl">Artistes</span>
			</div>
			<div class="flex flex-col items-center">
				<div
					class="flex justify-center items-center text-2xl w-16 h-16 lg:text-7xl border border-light1 lg:h-25 lg:w-25 bg-dark mb-5"
				>
					<p class="text-center font-serif">2</p>
				</div>
				<span class="text-light1 lg:text-2xl">Scènes</span>
			</div>
		</div>
	</section>
</Layout>
