---
import Layout from "../layouts/Layout.astro";

---

<Layout>
    <h1 class="text-center font-cursive mt-10 lg:mt-20 text-6xl lg:text-9xl">
        Le programme
    </h1>
    <p class="text-xl mt-10 mb-3 lg:text-3xl text-center">Le festival ouvrira chaque jour à 17h et fermera à minuit.</p>
    <section>
    </section>
</Layout>
