---
import iconInstagram from "../assets/icons/instagram.svg";
import iconFacebook from "../assets/icons/facebook.svg";
import iconYoutube from "../assets/icons/youtube.svg";
import iconTwitter from "../assets/icons/twitter.svg";
import Logo from "../assets/icons/logo.svg";

const socialLinks = [
    { url: "https://facebook.com", label: "facebook", Icon: iconFacebook },
    { url: "https://instagram.com", label: "instagram", Icon: iconInstagram },
    { url: "https://twitter.com", label: "twitter", Icon: iconTwitter },
    { url: "https://youtube.com", label: "youtube", Icon: iconYoutube },
];
---

<footer class="bg-footer px-5 py-10 mt-20">
    <div class="grille">
        <!-- wrapper mobile -->
        <div class="flex justify-between mb-10 lg:contents">
            <!-- NAV -->
            <nav class="lg:col-start-3 lg:row-start-1">
                <ul class="text-xl flex flex-col gap-[0.94rem]">
                    <li><a href="">Festival</a></li>
                    <li><a href="">Programmation</a></li>
                    <li><a href="">Artistes</a></li>
                    <li><a href="">Scènes</a></li>
                    <li><a href="">Infos pratiques</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>

            <!-- LOGO -->
            <Logo
                class="shrink-0 lg:col-start-9"
            />
        </div>

        <!-- NOUS SUIVRE -->
        <div class="lg:col-start-7 lg:row-start-1 lg:col-span-2">
            <p class="font-serif mb-2 text-xl lg:mb-5">Nous suivre</p>
            <ul class="flex gap-5 lg:flex-col">
                {
                    socialLinks.map(({ url, label, Icon }) => (
                        <li>
                            <a href={url} aria-label={label}>
                                <Icon />
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>

    <div class="grille">
        <div
            class="font-mono text-sm pt-10 text-light1 lg:col-start-3 lg:col-span-5"
        >
            <p>Loddo Enzo</p>
            <p>Groupe B1</p>
            <p>enzo.loddo@edu.univ-fcomte.fr</p>

            <div class="pt-10 lg:pt-0">
                <p class="font-bold mb-2.5 uppercase lg:mt-10">Mentions légales</p>
                <p>
                    Projet réalisé en 2025 dans le cadre d'un exercice
                    pédagogique au departement MMI de Montbéliard
                </p>
            </div>
        </div>
    </div>
</footer>
